
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>About | SuperFit &mdash; West Bloomfield Mi Personal Trainer - Rashid Chaudry</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Rashid Chaudry personal trainer in West Bloomfield, MI." />
	<meta name="keywords" content="West Bloomfield personal trainer, personal trainers in West Bloomfield, Michigan, West Bloomfield MI personal trainer, personal trainer, rashid chaudry" />
	<meta name="author" content="pguduru" />
	<meta name="application-name" content="the-superfit.com" />
	<meta name="msapplication-tooltip" content="Superfit Rashid Chaudry" />
	
	<meta property="og:title" content="Testimonials" />
	<meta property="og:type" content="fitness" />
	<meta property="og:url" content="http://www.the-superfit.com" />
	<meta property="og:site_name" content="www.the-superfit.com" />
	<meta property="og:description" content="Superfit by Rashid Chaudry - Rashid Chaudry Metro Detroit's BEST personal trainer exercise, fitness, and nutirition, there are so many ways to train, work out." />



  	<!-- Facebook and Twitter integration -->

	<meta property="og:image" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900' rel='stylesheet' type='text/css'>
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="../css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="../css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="../css/bootstrap.css">
	<!-- Superfish -->
	<link rel="stylesheet" href="../css/superfish.css">

	<link rel="stylesheet" href="../css/style.css">

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-84825216-1', 'auto');
  ga('send', 'pageview');

</script>
	<!-- Modernizr JS -->
	<script src="../js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		<div id="fh5co-wrapper">
		<div id="fh5co-page">
		<div id="fh5co-header">
			<header id="fh5co-header-section">
				<div class="container">
					<div class="nav-header">
						<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
						<h1 id="fh5co-logo"><a href="index.html">Super<span>Fit</span><p style="color:white"><span>BY </span>Rashid Chaudry</p></a></h1>
						<!-- START #fh5co-menu-wrap -->
						<nav id="fh5co-menu-wrap" role="navigation">
							<ul class="sf-menu" id="fh5co-primary-menu">
								<li>
									<a href="/">Home</a>
								</li>
								
								<li><a href="trainer.html">Trainers</a></li-->
									<li><a href="/testimonials">Testimonials</a></li>
									<li><a href="/trainer-videos">Training Videos</a></li>
								<li class="active"><a href="/about">About</a></li>
								<li><a href="/contact">Contact</a></li>
								<li><a href="/subscribe">Subscribe</a></li>
								<li><a href="/promotions">Promotions</a></li>
																
							</ul>
						</nav>
					</div>
				</div>
			</header>		
		</div>
		<!-- end:fh5co-header -->
		<div class="fh5co-parallax" style="background-image: url(../images/home-image-4.jpg);" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
						<div class="fh5co-intro fh5co-table-cell animate-box">
							<h1 class="text-center">About Us</h1>
							<p>Super Fit By Rashid Chaudry</a></p>
						</div>
					</div>
				</div>
			</div>
		</div><!-- end: fh5co-parallax -->
		<!-- end:fh5co-hero -->
		<div id="fh5co-team-section" >
			<div class="container">
				<div class="row about">
					<div class="col-md-12 col-md-offset-0">
		<div class="fh5co-narrow-content">
				<div class="row">
					<div class="col-md-5">
						<h2 class="fh5co-heading animate-box fadeInLeft animated" data-animate-effect="fadeInLeft">Rashid Chaudry</h2>
						<p class="fh5co-lead animate-box fadeInLeft animated" data-animate-effect="fadeInLeft">Rashid Chaudry is a certified Personal Trainer, with a Degree in excercise Ephesus (Kremlinology). He holds certification in NASM CPT, Kettlebell, Stretch, Spin and Specializes in working with athletes (hockey, basketball, football).</p>
						<p class="animate-box fadeInLeft animated" data-animate-effect="fadeInLeft"> Compared to a fly-by-night personal trainers, Rashid Chaudry is Metro Detroit's BEST personal trainer!
Rashid Chaudry's education and knowledge will get you the best results FAST. In exercise, fitness, and nutirition, there are so many ways to train, work out, and eat that will get you good to great results. Great personal trainers know the most efficient and effective way to get you, the client best results as quickly and safely as possible. This is why you want the best and Rashid Chaudry is the top personal trainer and mentor around!.</p>
					</div>
					<div class="col-md-6 col-md-push-1 animate-box fadeInLeft animated" data-animate-effect="fadeInLeft">
						<img src="../images/trainer-1.jpg" alt="Rashid chaudry image" class="img-responsive"--> 
					</div>
				</div>
				
			</div>
					
						
						
					</div>
				</div>
				
		</div>
</div>
		<footer>
						<div id="footer">
				<div class="container">
					<div class="row">
						<div class="col-md-4 animate-box">
							<h3 class="section-title">About Us</h3>
							<p>Rashid Chaudry, includes top-notch service, better resutls, permanenet achievement of your weight loss (fat loss) goals, quicker results, and a pain-and injury-free method. Dont wait to hire the Michigan's BEST personal trainer, Rashid Chaudry. Call today!</p>
						</div>

						<div class="col-md-4 animate-box">
							<h3 class="section-title">Our Address</h3>
							<ul class="contact-info">
								<li><i class="icon-map-marker"></i>West Bloomfield</li>
								<li><i class="icon-phone"></i>+ 1248 496 2529</li>
								<li><i class="icon-envelope"></i><a href="#">rashidc@hotmail.com</a></li>
								<li><i class="icon-globe2"></i><a href="#">www.the-superfit.com</a></li>
							</ul>

							
						</div>

						<div class="col-md-4 animate-box">
						
						
						<div class="row">
						
							<class="section-title">
							<form class="contact-form" action="/subscribe">
													
								<div class="form-group">
									<input type="submit" id="btn-submit" class="btn btn-send-message btn-md" value="Subscribe for News Letter">
								</div>
								
							</form>


						</div>

						<div class="row">
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23518.402303962932!2d-83.37746223059588!3d42.5382969308618!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x883b5bcd60f1687!2sRashid+Chaudry+Personal+Trainer+at+Power+house+Gym+West+bloomfield!5e0!3m2!1sen!2sus!4v1490146534089" width="400" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>

						</div>
						</div>
					</div>
					<div class="row copy-right">
						<div class="col-md-6 col-md-offset-3 text-center">
							<p class="fh5co-social-icons">
								
								<a href="https://www.facebook.com/Super-Fit-437229059622136/"  target="_blank" ><i class="icon-facebook2"></i></a>
								
								<a href="https://www.youtube.com/channel/UCG7vl3IncjRSiLkhxtkB_4g"  target="_blank" ><i class="icon-youtube"></i></a>
							</p>
						<p>Copyright 2016 <br><a href="#">SuperFit By Rashid Chaudry</a>. <br> All Rights Reserved.</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
	

	</div>
	<!-- END fh5co-page -->

	</div>
	<!-- END fh5co-wrapper -->

	<!-- jQuery -->


	<script src="../js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="../js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="../js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="../js/jquery.waypoints.min.js"></script>
	<!-- Stellar -->
	<script src="../js/jquery.stellar.min.js"></script>
	<!-- Superfish -->
	<script src="../js/hoverIntent.js"></script>
	<script src="../js/superfish.js"></script>

	<!-- Main JS (Do not remove) -->
	<script src="../js/main.js"></script>

	</body>
</html>

